<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> moodle </title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <center>
    <h1> Ambiente Virtual da Disciplina de Metodologias Bioanalíticas </h1>
    <img src="https://moodle.ufcspa.edu.br/pluginfile.php/2343/course/section/1464/MB_2023.png?time=1692646416971" height="212" width="300">
    </center>
    <p style = "text-align: justify; font-family:Times New Roman, Times, serif">
        &nbsp;&nbsp;&nbsp;&nbsp; LINK
        </p>
    {% endblock %}
  </body>
</html>